<h1>Edit blog posts</h1>

<%= form_for(@blog_post) do |f| %>

	<div>
		<%= f.label :title %><br/>
		<%= f.text_field :title %>
	</div>

	<div>
		<%= f.label :body %><br/>
		<%= f.text_field :body %><br/>
	</div>

	<%= f.submit %>


<% end %>